a {
  text-decoration: none;
  color: inherit !important;
}
a:visited, a:active {
  color: inherit !important;
}

.scrollable {
  scroll-behavior: smooth;
  scrollbar-width: none;
}
.scrollable::-webkit-scrollbar {
  display: none;
}

.carousel-btn {
  text-indent: initial !important;
  min-height: 30px !important;
  min-width: 30px !important;
  opacity: 1 !important;
  box-sizing: content-box;
}
.carousel-btn.active {
  background-color: var(--bs-white) !important;
  color: rgba(0, 0, 0, 0.7) !important;
}
.carousel-btn:hover {
  background-color: var(--bs-white) !important;
  color: rgba(0, 0, 0, 0.7) !important;
}

@media screen and (min-width: 992px) {
  .carousel-indicators {
    position: static;
  }
}

.carousel-control {
  opacity: 1 !important;
}
.carousel-control:active {
  animation: scale 200ms ease-out;
}
.carousel-control:hover {
  background-color: rgba(255, 255, 255, 0.5) !important;
  color: rgba(0, 0, 0, 0.7) !important;
}

.carousel-item {
  height: 100vh;
  opacity: 0.9;
}
.carousel-item.one {
  background: url("/assets/images/slideshow_1.jpg") center no-repeat fixed;
}
.carousel-item.two {
  background: url("/assets/images/slideshow_2.jpg") center no-repeat fixed;
}
.carousel-item.three {
  background: url("/assets/images/slideshow_3.jpg") center no-repeat fixed;
}

.title {
  font-size: 2rem !important;
}
@media screen and (min-width: 460px) {
  .title {
    font-size: 3rem !important;
  }
}
@media screen and (min-width: 992px) {
  .title {
    font-size: 4rem !important;
  }
}

.nav-item {
  cursor: pointer;
}
.nav-item > span {
  transition: all 100ms;
  height: 2px;
  background: var(--bs-gray-200);
}
.nav-item.active > a {
  color: var(--bs-blue) !important;
}
.nav-item.active > span {
  background: var(--bs-blue);
  height: 6px;
}

.card-fs, .card-tag {
  font-size: 0.8rem !important;
}

.card-tag {
  width: 100px;
}

.material-symbols-outlined {
  color: var(--bs-blue) !important;
  font-size: 4rem !important;
}

.project-slider {
  display: none;
}
.project-slider.active {
  display: flex;
}

@keyframes scale {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0.9);
  }
}